body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

#calc-container {
    height: 750px;
    width: 600px;
    border: 1px solid black;
    border-radius: 15px;;
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 230, 152);
}

#calc-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
}
#calc-display {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 200px;
    font-size: 3.5em;
    font-family: 'Archivo', 'Times New Roman', Times, serif;
}

#calc-eqdel {
    display: flex;
    height: 100px;
    gap: 3px;
    margin-bottom: 3px;
    
}

#del,
#eq {
    flex: 1;
    text-align: center;
    
}

#calc-numbop {
    flex: 1;
    display: flex;
    gap: 3px;
    
}

.button-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3px;
}

button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#inputArray {
    
}
