body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

#calc-container {
    height: 750px;
    width: 600px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

#calc-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
}
#calc-display {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 150px;
    border: 1px solid red;
}

#calc-eqdel {
    display: flex;
    height: 100px;
    border: 1px solid red;
}

#del,
#eq {
    flex: 1;
    text-align: center;
    border: 1px solid red;
}

#calc-numbop {
    flex: 1;
    display: flex;
    
}

.button-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    display: flex;
    flex: 1;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

